button {
  cursor: pointer;
  background-color: lightgray;
  color: rgb(74, 74, 74);
}
button:hover {
  background-color: rgb(225, 224, 224);
  color: rgb(176, 176, 176);
}

.off,
.off:hover {
  color: rgb(128, 121, 121);
  cursor: auto;
  background-color: rgb(169, 142, 142);
}
