.flex-container {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flex-div {
  display: inline;
  width: fit-content;
  /* border-bottom: 1px gray dotted; */
  margin: 0 10px;
  padding-right: 10px;
  justify-self: flex-end;
}

#logo {
  /* display: block; */
  justify-self: flex-start;
  align-self: flex-start;
}
