:root {
  --base-color: gray;
  --front-color: rgb(18, 248, 141);
  --background-color: #333;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pop-box {
  background-color: blueviolet;
  -webkit-animation: roll-in-left 0.6s ease-out both;
  animation: roll-in-left 0.6s ease-out both;
  margin: 10px;
}

@-webkit-keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

.std-size {
  height: 100px;
  width: 100px;
}

.spinner {
  height: 100px;
  width: 100px;
  margin: 20px;
}

.ring {
  border-radius: 50%;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#spinner-1 {
  border: 8px var(--base-color) solid;
  border-top-color: var(--front-color);
}

#spinner-2 {
  border: 8px lightgray solid;
  border-top-color: var(--front-color);
  border-bottom: none;
  border-left: none;
  border-right-color: var(--background-color);
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  height: 15px;
  width: 20px;
  background-color: var(--base-color);
  border-radius: 50%;
  margin: 10px;
}

#flicker > .dot {
  animation: flicker 1.5s infinite linear;
}

#flicker .dot-m {
  animation-delay: 0.2s;
}
#flicker .dot-r {
  animation-delay: 0.4s;
}

@keyframes flicker {
  0% {
    background-color: var(--base-color);
  }
  25% {
    background-color: var(--front-color);
  }
  50% {
    background-color: var(--base-color);
  }
  100% {
    background-color: var(--base-color);
  }
}

#jump > .dot {
  animation: jump 1.5s infinite linear;
  background-color: var(--front-color);
}

#jump .dot-m {
  animation-delay: 0.15s;
}
#jump .dot-r {
  animation-delay: 0.3s;
}

@keyframes jump {
  0% {
    transform: none;
  }
  20% {
    transform: translateY(-50px);
  }
  40% {
    transform: none;
  }
  100% {
    transform: none;
  }
}
