* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.text-box {
  max-width: 22%;
  border: 1px #444 solid;
  border-radius: 5px;
  background-color: #ccc;
  margin: 5px;
  padding: 5px;
  display: inline-block;
}

.text-box p {
  display: block;
  max-width: 200px;
}
